html,
body,
.App {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 100%;
  line-height: normal;
}

.App {
  background: url("./asset/bg-img.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}

.greeting {
  font-size: 3rem;
}

.userInput,
.userInput:active,
.userInput:focus {
  color: white;
  font-size: 2rem;
  background: transparent;
  border: none;
  border-radius: 0 !important;
  border-bottom: 2px solid white;
  width: 30rem;
}

.error {
  color: rgb(254, 73, 73);
}

.weather-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.focus-text {
  font-size: 2rem;
}

.focus {
  margin-top: 5rem;
}

.focus input {
  height: 1.5rem;
  width: 1.5rem;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 812px) {
  html,
  body,
  .App {
    font-size: 65%;
  }

  .focus input {
    height: auto;
    width: auto;
  }
}
