html,
body,
.App {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 100%;
}

.App {
  background: url("./asset/bg-img.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 9rem;
}

h2 {
  font-size: 3rem;
}

.userInput,
.userInput:active,
.userInput:focus {
  color: white;
  font-size: 3rem;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid white;
  width: 30rem;
}

.error {
  color: rgb(254, 73, 73);
}
