html,
body,
.App {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 100%;
  line-height: normal;
}

.screen {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.App {
  position: relative;
  z-index: 2;
}

.bg {
  background: url("https://source.unsplash.com/random/1920x888/?dark%20wallpaper")
    no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}

.greeting {
  font-size: 3rem;
}

.userInput,
.userInput:active,
.userInput:focus {
  color: white;
  font-size: 2rem;
  background: transparent;
  border: none;
  border-radius: 0 !important;
  border-bottom: 2px solid white;
  width: 30rem;
}

.error {
  color: rgb(254, 73, 73);
}

.weather-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.focus-text {
  font-size: 2rem;
}

.focus {
  margin-top: 5rem;
}

.focus input {
  height: 1.5rem;
  width: 1.5rem;
}

.focus-edit {
  background: transparent;
  color: gold;
  font-size: 1.5rem;
  margin: auto 1rem;
}

.focus-edit:hover {
  transform: scale(1.3);
}

.focus-delete {
  background: transparent;
  color: red;
  font-size: 1.5rem;
  margin: auto 1rem;
}

.focus-delete:hover {
  transform: scale(1.3);
}

.quote {
  position: fixed;
  bottom: 1rem;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 812px) {
  html,
  body,
  .App {
    font-size: 65%;
  }

  .focus input {
    height: auto;
    width: auto;
  }
}
